# {{ ansible_managed }}

# The host:port to bind to (default "127.0.0.1:11434")
OLLAMA_HOST=0.0.0.0:11434

# A comma separated list of allowed origins.
OLLAMA_ORIGINS=*://localhost,*://192.168.1.80,*://192.168.1.10

# The path to the models directory (default is "~/.ollama/models")
#OLLAMA_MODELS=/models/ollama

HOME=/var/lib/ollama
GIN_MODE=release
