# {{ ansible_managed }}

# https://docs.openwebui.com/getting-started/env-configuration

services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: unless-stopped
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://192.168.1.80:11434
    volumes:
      - open-webui:/app/backend/data

volumes:
  open-webui:
