[Unit]
Description=Backup all important things on the server

[Service]
ExecStart={{ backup_script_path }}
ExecStopPost=/bin/bash -c 'if [[ "$$EXIT_STATUS" != 0 ]]; then /usr/local/bin/corn-email --email alerts@rys.rs --service-name %n --type generic; fi'
User={{ service_user }}
Group={{ service_group }}

[Install]
WantedBy=default.target
