#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)

tar -acvf /root/books-${todayDate}.tzst \
	/var/lib/audiobookshelf/metadata/backups

# Upload to my Nextcloud instance
cloudsend --file /root/books-${todayDate}.tzst

# Cleanup
rm /root/books-${todayDate}.tzst

# {{ ansible_managed }}
