#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

## Cleanup in case previous run failed
#rm -f /root/keycloak.json

# OLD export way - we just export the DB now
# https://www.keycloak.org/server/importExport
#systemctl stop keycloak
#kc.sh export --file /root/keycloak.json
#systemctl start keycloak

### By starting keycloak as root we mess up the log ownership, hack it back together
##chown -R keycloak:keycloak /opt/keycloak/standalone/log

todayDate=$(date --iso-8601)

sudo -u postgres pg_dump keycloak > /tmp/keycloak_${todayDate}.sql

tar -acvf ${backupArchive} \
	/tmp/keycloak_${todayDate}.sql

# Upload to my Nextcloud instance
cloudsend --file ${backupArchive}

# Cleanup
rm -f ${backupArchive} \
	/tmp/keycloak_${todayDate}.sql

# {{ ansible_managed }}
