# {{ ansible_managed }}

# Basic settings for running in production. Change accordingly before deploying the server.

# Database

# The database vendor.
db=postgres

# The username of the database user.
db-username=keycloak

# The password of the database user.
db-password={{ postgre_password }}

# The full database JDBC URL. If not provided, a default URL is set based on the selected database vendor.
db-url=jdbc:postgresql://localhost/keycloak

# Observability

# If the server should expose healthcheck endpoints.
#health-enabled=true

# If the server should expose metrics and healthcheck endpoints.
#metrics-enabled=true

# HTTPS

# The file path to a server certificate or certificate chain in PEM format.
# /usr/share/java/keycloak/bin/../auth.rys.rs.crt.pem
https-certificate-file=${kc.home.dir}/auth.rys.rs.crt.pem

# The file path to a private key in PEM format.
https-certificate-key-file=${kc.home.dir}/auth.rys.rs.key.pem

# The proxy address forwarding mode if the server is behind a reverse proxy.
# https://www.keycloak.org/server/reverseproxy
proxy=edge

# Do not attach route to cookies and rely on the session affinity capabilities from reverse proxy
#spi-sticky-session-encoder-infinispan-should-attach-route=false

# Hostname for the Keycloak server.
hostname=auth.rys.rs

# {{ ansible_managed }}
