# {{ ansible_managed }}

# These keys are in use in the following places:
# Personal Ansible
# Company inventory DB
# GitHub - https://github.com/settings/keys
# GitLab - https://gitlab.com/-/profile/keys
# Arch Linux Gitlab https://gitlab.archlinux.org/-/profile/keys
# Company GitLab
# GNOME GitLab https://gitlab.gnome.org/-/profile/keys
# Pouria's VPS, Alex's VPS
# Scaleway - https://console.scaleway.com/project/credentials
# KDE Invent - https://invent.kde.org/-/profile/keys
# rys.rs - https://rys.rs/contact
# AUR - https://aur.archlinux.org/account/C0rn3j/edit
# OpenWRT
# Mikrotik

# Additionally, RSA key is used for:
# webOS TV

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB23ddI/axXRkPe6WJ/8Vl1AHVrPOkMmaKfZ5Tt/Pd0y [2023-01-07]|ansible
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPR3/QA/+Kq1txg/APGQcpa3UradYnaaxSomDQamFDpH [2023-01-07]|c0rn3j
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIqnWQRCGgb6YDcbENshr2ElhDa82aGqYGT9kZ+EHqkc u0_a184@Xiaomi12

# Disabled 2023-01-07
#ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIufCM34eXtzcLG4cR/UrHFcAQf+x9/xOCwG+SVPD0LH c0rn3j@Luxuria
#ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKhUhbEr20+N3qDkkPkVDlBB+Ke+eomGfXIhtRd5MLGT root@ansible

# {{ ansible_managed }}
