# {{ ansible_managed }}

# Leave a lot of history available
set-option -g history-limit 100000

# Switch to an available session if there is any after current one is exited
set-option -g detach-on-destroy off
