#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
errors=0
backupArchive="/root/$(hostname)-${todayDate}.tzst"

mariadb-dump --disable-ssl-verify-server-cert matomo > /root/matomo_${todayDate}.sql
mariadb-dump --disable-ssl-verify-server-cert bookstack > /root/bookstack_${todayDate}.sql
mariadb-dump --disable-ssl-verify-server-cert postfix_db > /root/postfix_db_${todayDate}.sql
mariadb-dump --disable-ssl-verify-server-cert roundcubemail > /root/roundcubemail_${todayDate}.sql

# Disable
systemctl stop smokeping

# Dump BookStack contents as PDF in addition to full SQL + file backups
mkdir -p /root/bookstackExport
php /root/export-books.php pdf /root/bookstackExport/

# Murmur
# Hastebin data
# Smokeping
# Matomo
# Bookstack (+ extra PDF export)
tar -acvf "${backupArchive}" \
/var/lib/mumble-server/mumble-server.sqlite \
/usr/lib/node_modules/haste/data \
/root/bookstackExport \
/usr/share/webapps/bookstack/public/uploads \
/usr/share/webapps/bookstack/storage/uploads \
/srv/smokeping/data \
/root/postfix_db_${todayDate}.sql \
/root/roundcubemail_${todayDate}.sql \
/root/matomo_${todayDate}.sql \
/root/bookstack_${todayDate}.sql

# Cleanup
rm /root/postfix_db_${todayDate}.sql
rm /root/roundcubemail_${todayDate}.sql
rm /root/matomo_${todayDate}.sql
rm /root/bookstack_${todayDate}.sql
rm -rf /root/bookstackExport

# Enable
if ! systemctl start smokeping; then
	errors=1
	echo "Error, failed to start smokeping!"
fi

# Upload to my Nextcloud instance
if ! cloudsend --file "${backupArchive}"; then
	errors=1
	echo "Error, failed to upload backup to Nextcloud!"
else
	# Final cleanup
	rm "${backupArchive}"
fi

if [[ ${errors} == 1 ]]; then
	exit 1
fi

# {{ ansible_managed }}
