<?php
$CONF['configured'] = true;
// correspond to dovecot maildir path /home/vmail/%d/%u
$CONF['domain_path'] = 'YES';
$CONF['domain_in_mailbox'] = 'NO';
$CONF['database_type'] = 'mysqli';
$CONF['database_host'] = '{{ postfixadmin_db_ipv4 }}';
$CONF['database_user'] = 'postfix';
$CONF['database_password'] = '{{ mail_postfix_db_password }}';
$CONF['database_name'] = 'postfix_db';
$CONF['setup_password'] = '{{ postfixadmin_setup_password }}';
$CONF['encrypt'] = 'dovecot:SHA512-CRYPT';
$CONF['dovecotpw'] = "/usr/sbin/doveadm pw";
