# {{ ansible_managed }}

127.0.1.1 bree
# Static table lookup for hostnames.
# See hosts(5) for details.

10.49.174.12 mail.rys.rs
2001:bc8:1640:1c45:216:3eff:fe2f:1a4d mail.rys.rs

10.49.174.11 rys.rs
2001:bc8:1640:1c45:216:3eff:fe42:2947 rys.rs

# {{ ansible_managed }}
