#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
drivePath=/mnt/avatar/backups

mkdir -p ${drivePath}/${todayDate}
tar \
	--exclude='*ProPlus*.img' \
	--exclude='*Win1*.iso' \
	--exclude='*ubuntu*.iso' \
	--exclude='*archlinux*.iso' \
	--exclude='HugeFiles/Music' \
	-acvf ${drivePath}/${todayDate}/Nextcloud.tzst \
	-C /home/c0rn3j/Nextcloud .
sync

# Upload backups to OneDrive - no --progress flag as it logs to journal every second or so to the point of being unable to mail the output due to filesize
# https://rclone.org/crypt/
rclone --bwlimit 4M sync /mnt/blue/Books/ booksCrypt2:
rclone --bwlimit 4M sync /home/c0rn3j/Nextcloud/HugeFiles/Music crypt:/Music
rclone --bwlimit 4M copy ${drivePath}/${todayDate}/Nextcloud.tzst crypt:${todayDate}/

# {{ ansible_managed }}
