# {{ ansible_managed }}

services:
# https://docs.openwebui.com/tutorial/openedai-speech-integration/
  server:
    image: ghcr.io/matatonic/openedai-speech
    container_name: openedai-speech
#    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - tts-voices:/app/voices
      - tts-config:/app/config
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
  whisper_cpp:
#    image: ghcr.io/ggerganov/whisper.cpp:main-cuda
    image: whisper-corncuda:latest
    container_name: whisper-cpp
    ports:
      - "7777:7777"
    volumes:
      - /home/c0rn3j/Downloads/_StableDiffusion/whisper/:/models
    restart: unless-stopped
    environment:
      LD_LIBRARY_PATH: ""
    command: "'./server -l en -m /models/ggml-large-v3.bin --host 0.0.0.0 --port 7777'"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  tts-voices:
  tts-config:

# Test - symlink tts_models/multilingual/multi-dataset/xtts to tts_models/multilingual/multi-dataset/xtts_v2 first to prevent duplicate model downloads
#tts --model_name tts_models/multilingual/multi-dataset/xtts_v2 --text "Bugün okula gitmek istemiyorum." --speaker_wav /app/voices/nova.wav --language_idx tr --use_cuda true
