# {{ ansible_managed }}

load_module /usr/lib/nginx/modules/ngx_http_brotli_filter_module.so;
load_module /usr/lib/nginx/modules/ngx_http_brotli_static_module.so;

events {
	worker_connections 1024;
}

http {
	ssl_dhparam /etc/ssl/certs/dhparam.pem;
	ssl_certificate /etc/letsencrypt/live/proxy.rys.rs/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/proxy.rys.rs/privkey.pem;
	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_prefer_server_ciphers on;
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
	ssl_ecdh_curve secp384r1;
	ssl_session_cache shared:SSL:10m;
	ssl_session_tickets off;
	ssl_stapling on;
	ssl_stapling_verify on;
	add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";

	client_max_body_size 20M;

	include mime.types;
	default_type application/octet-stream;
	sendfile on;
	brotli on;
	# Defaults to text/html only, setting is additive
	brotli_types application/atom+xml text/plain text/css text/javascript application/json image/svg+xml application/xml+rss;
	keepalive_timeout 65;
	types_hash_max_size 4096;

	map $http_upgrade $connection_upgrade {
		default upgrade;
		'' close;
	}

	server {
		server_name wekan.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			# Allow websockets
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection $connection_upgrade;

			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_pass http://192.168.1.23:80;
			proxy_read_timeout 90;
		}
	}

	server {
		server_name monitoring.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_pass http://192.168.1.24;
			proxy_read_timeout 90;
		}
	}

	server {
		server_name rss.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_pass http://192.168.1.21;
			proxy_read_timeout 90;
		}
	}

	server {
		server_name cloud.rys.rs cloud.rys.pw;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		# https://central.owncloud.org/t/request-entity-too-large-nginx-server/1795/4
		proxy_buffering off;
		proxy_request_buffering off;
		client_max_body_size 10G;
		location / {
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_pass http://192.168.1.22;
			proxy_read_timeout 90;
		}
		location ^~ /push/ {
			proxy_pass http://192.168.1.22:7867/;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "Upgrade";
			proxy_set_header Host $host;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		}
		# https://docs.nextcloud.com/server/latest/admin_manual/installation/nginx.html#nextcloud-in-the-webroot-of-nginx
		location ^~ /.well-known {
			# The rules in this block are an adaptation of the rules
			# in `.htaccess` that concern `/.well-known`.

			location = /.well-known/carddav { return 301 /remote.php/dav/; }
			location = /.well-known/caldav  { return 301 /remote.php/dav/; }

			location /.well-known/acme-challenge    { try_files $uri $uri/ =404; }
			location /.well-known/pki-validation    { try_files $uri $uri/ =404; }

			# Let Nextcloud's API for `/.well-known` URIs handle all other
			# requests by passing them to the front-end controller.
			return 301 /index.php$request_uri;
		}
	}

	server {
		server_name radio.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		root /var/www/html/radio;
		location = / {
			return 301 /listenalong;
		}

		location / {
			proxy_pass http://192.168.1.10:7590;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
		}
	}

	server {
		server_name auth.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
#			proxy_pass http://192.168.1.28:8080;
			proxy_pass https://192.168.1.28:8443;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header X-Forwarded-Protocol $scheme;
			proxy_set_header X-Forwarded-Host $http_host;
		}
	}

	server {
		server_name books.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			proxy_pass http://192.168.1.38:4180;
		}
	}

	server {
		server_name bookshelf.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			proxy_pass http://192.168.1.38:13378;
			# Enable Websockets
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "Upgrade";
		}
	}

	server {
		server_name gitea.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			proxy_pass http://192.168.1.31:3000;
		}
	}

	server {
		server_name jellyfin.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;

		set $jellyfin 192.168.1.39;

		# Security / XSS Mitigation Headers
		# NOTE: X-Frame-Options may cause issues with the webOS app
		add_header X-Frame-Options "SAMEORIGIN";
		add_header X-Content-Type-Options "nosniff";

		# COOP/COEP. Disable if you use external plugins/images/assets
		add_header Cross-Origin-Opener-Policy "same-origin" always;
		add_header Cross-Origin-Embedder-Policy "require-corp" always;
		add_header Cross-Origin-Resource-Policy "same-origin" always;

		# Permissions policy. May cause issues on some clients
		add_header Permissions-Policy "accelerometer=(), ambient-light-sensor=(), battery=(), bluetooth=(), camera=(), clipboard-read=(), display-capture=(), document-domain=(), encrypted-media=(), gamepad=(), geolocation=(), gyroscope=(), hid=(), idle-detection=(), interest-cohort=(), keyboard-map=(), local-fonts=(), magnetometer=(), microphone=(), payment=(), publickey-credentials-get=(), serial=(), sync-xhr=(), usb=(), xr-spatial-tracking=()" always;

		# Content Security Policy
		# See: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
		# Enforces https content and restricts JS/CSS to origin
		# External Javascript (such as cast_sender.js for Chromecast) must be whitelisted.
		# NOTE: The default CSP headers may cause issues with the webOS app
		#add_header Content-Security-Policy "default-src https: data: blob: http://image.tmdb.org; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://www.gstatic.com https://www.youtube.com blob:; worker-src 'self' blob:; connect-src 'self'; object-src 'none'; frame-ancestors 'self'";

		location = / {
			return 302 https://$host/web/;
		}

		location / {
			# Proxy main Jellyfin traffic
			proxy_pass http://$jellyfin:8096;
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header X-Forwarded-Protocol $scheme;
			proxy_set_header X-Forwarded-Host $http_host;

			# Disable buffering when the nginx proxy gets very resource heavy upon streaming
			proxy_buffering off;
		}

#		# location block for /web - This is purely for aesthetics so /web/#!/ works instead of having to go to /web/index.html/#!/
#		location ~ ^/web/$ {
#			# Proxy main Jellyfin traffic
#			proxy_pass http://$jellyfin:8096/web/index.html/;
#			proxy_set_header Host $host;
#			proxy_set_header X-Real-IP $remote_addr;
#			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#			proxy_set_header X-Forwarded-Proto $scheme;
#			proxy_set_header X-Forwarded-Protocol $scheme;
#			proxy_set_header X-Forwarded-Host $http_host;
#		}

		location /socket {
			# Proxy Jellyfin Websockets traffic
			proxy_pass http://$jellyfin:8096;
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "upgrade";
			proxy_set_header Host $host;
			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
			proxy_set_header X-Forwarded-Proto $scheme;
			proxy_set_header X-Forwarded-Protocol $scheme;
			proxy_set_header X-Forwarded-Host $http_host;
	}
}

#	server {
#		server_name proxy.rys.rs;
#		listen 443 ssl;
#		listen [::]:443 ssl;
#		http2 on;
#		location /sd/ {
#			auth_basic "Restricted Content";
#			auth_basic_user_file /etc/nginx/htpasswd_sd;
#			proxy_pass http://192.168.1.40:7860/;
#			proxy_read_timeout 1800;
#			proxy_redirect default;
#			proxy_set_header X-Real-IP $remote_addr;
#			proxy_set_header Host $host;
#			proxy_set_header X-Forwarded-Proto https;
#			proxy_set_header X-Forwarded-Ssl on;
#			proxy_pass_header Set-Cookie;
#		}
#	}

	server {
		server_name sd.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			auth_basic "Restricted Content";
			auth_basic_user_file /etc/nginx/htpasswd_sd;
			proxy_pass http://192.168.1.40:7860/;
			proxy_read_timeout 1800;
			proxy_redirect default;

			# Enable Websockets
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "Upgrade";

			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header Host $host;
			proxy_set_header X-Forwarded-Proto https;
			proxy_set_header X-Forwarded-Ssl on;
			proxy_pass_header Set-Cookie;
		}
	}
	server {
		server_name ai.rys.rs;
		listen 443 ssl;
		listen [::]:443 ssl;
		http2 on;
		location / {
			proxy_pass http://192.168.1.80:3000/;
			proxy_read_timeout 1800;
			proxy_redirect default;

			# Enable Websockets
			proxy_http_version 1.1;
			proxy_set_header Upgrade $http_upgrade;
			proxy_set_header Connection "Upgrade";

			proxy_set_header X-Real-IP $remote_addr;
			proxy_set_header Host $host;
			proxy_set_header X-Forwarded-Proto https;
			proxy_set_header X-Forwarded-Ssl on;
			proxy_pass_header Set-Cookie;
		}
	}

	server {
		listen 80;
		listen [::]:80;
		server_name proxy.rys.rs ai.rys.rs auth.rys.rs books.rys.rs cloud.rys.rs gitea.rys.rs jellyfin.rys.rs monitoring.rys.rs radio.rys.rs rss.rys.rs sd.rys.rs wekan.rys.rs;
		return 301 https://$host$request_uri;
	}
}

# {{ ansible_managed }}
