# {{ ansible_managed }}
#
# This file is parsed by pam_env module
#
# Syntax: simple "KEY=VAL" pairs on separate lines
#

# Allow Electron 28 and up apps to run on Wayland
ELECTRON_OZONE_PLATFORM_HINT=auto

# {{ ansible_managed }}
