# {{ ansible_managed }}

# The default keymap is already 'us' but sd-vconsole requires this file to exist - maybe send a PR to them? TODO
KEYMAP=us
# consolefont needs this - https://wiki.archlinux.org/title/Linux_console#Persistent_configuration
FONT=lat2-16
FONT_MAP=8859-2

# {{ ansible_managed }}
