# {{ ansible_managed }}

[General]
DisplayServer=wayland
GreeterEnvironment=QT_WAYLAND_SHELL_INTEGRATION=layer-shell
# TODO Broken on Wayland sessions - https://github.com/sddm/sddm/issues/1830
Numlock = on

[Wayland]
CompositorCommand=kwin_wayland --drm --no-lockscreen --no-global-shortcuts --locale1

[Theme]
# Plasma default theme
Current = breeze

# {{ ansible_managed }}
