# {{ ansible_managed }}

# Name=Launch Terminal
# Comment=Launch Konsole and limit it to only one instance
# CommandURL=/usr/bin/konsole --new-tab
#[org.kde.konsole.desktop][Global Shortcuts]
#NewTab=Ctrl+Alt+T
# Maybe default?

# Currently using Dolphin which defaults to it
# Name=Launch File Explorer
# CommandURL=dolphin
# Key=Meta+E

# Name=Toggle Audio
# CommandURL=/usr/local/bin/corn-toggleaudio
# Key=Meta+A
[corn-toggleaudio.desktop][Global Shortcuts]
_launch=Meta+A

# Name=Toggle Video
# CommandURL=autorandr-cycle
# Key=Meta+Z

# Name=Screenshot (Selection)
# CommandURL=spectacle
# Key=Print
# Probably default nowadays?

# Name=Screenshot (Current window)
# CommandURL=flameshot screen -p ~/Pictures
# Key=Ctrl+Print

# Name=Screenshot (Entire desktop)
# CommandURL=flameshot full -p ~/Pictures
# Key=Shift+Print


# {{ ansible_managed }}
