#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)

systemctl stop jellyfin

tar -acvf /root/jellyfin-${todayDate}.tzst \
	/var/lib/jellyfin/{data,config,plugins}

# Upload to my Nextcloud instance
cloudsend --file /root/jellyfin-${todayDate}.tzst

# Cleanup
rm /root/jellyfin-${todayDate}.tzst

systemctl start jellyfin

# {{ ansible_managed }}
