#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

sed "/token:/c\token: \'yourtokenhere\'" /opt/the-guard-bot/config.js > /tmp/config.js
tar --exclude='node_modules' --exclude='/opt/the-guard-bot/config.js' -acvf ${backupArchive} /opt/the-guard-bot /tmp/config.js
echo "Backup of Guard saved as ${backupArchive}"
echo "Uploading backup to C0rn3j..."
cloudsend --file ${backupArchive}
echo "Upload to C0rn3j done!"

rm -f ${backupArchive} /tmp/config.js

# {{ ansible_managed }}
