// @ts-check
'use strict';
const config = {
	master: 'C0rn3j',
	token: '{{ guard_bot_token }}',
	chats: {
		adminLog: -1001507849540,
		presenceLog: -1001507849540,
		report: -1001184634294,
		noReportChatDeletion: false,
	},

	deleteCommands: 'all',
	deleteCustom: {
		longerThan: 450, // UTF-16 characters
		after: '20 minutes'
	},
	deleteJoinsAfter: '2 minutes',
	deleteWarnsAfter: false,
	deleteBansAfter: false,
	blacklistedDomains: [],
//	excludeLinks: [ '@archlinuxcn', '@archlinuxcn_group', '@archlinuxcn_updates', '@ArchLinuxChatRU', '@archlinux_updates', '@planetarch', '@archlinux', '@guildchannels', '@durov' ],
	excludeLinks: false,
	/**
	 * 6*30*24*3600*1000 = 15552000000 = 6 months
	 */
	expireWarnsAfter: 15552000000,
	groupsInlineKeyboard: [],
	numberOfWarnsToBan: 3,
	// 2024-01-06 disabled antianon
	plugins: [ 'arch-wiki.ts', 'captcha.ts', 'delete-stickers-and-gifs.ts' ],
	pluginSettings: {
		deleteStickersAndGIFs: {
			// Arch Linux, to make Inline messages work without providing ability to spam stickers/GIFs
			groups: [ -1001049288332 ],
		}
	},

	warnInlineKeyboard: [
		[{ "text": "The Guild Rules", "url": "https://t.me/GuildSignpost" }]
	],
};

module.exports = Object.freeze(config);
