#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

docker exec wekan-db mongodump -o /dump/mongodump

tar -acvf "${backupArchive}" \
	/var/lib/docker/volumes/root_wekan-db-dump/_data \
	/var/lib/docker/volumes/root_wekan-files/_data

# Upload to my Nextcloud instance
cloudsend --file "${backupArchive}"

# Cleanup
rm -rf "${backupArchive}"
docker exec wekan-db rm -rf /dump/mongodump

# Update and restart WeKan if applicable
docker-compose --project-directory /root pull
docker compose --project-directory /root --project-name root up --detach

# {{ ansible_managed }}
