#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

# Cleanup in case previous run failed
rm -f /tmp/director_${todayDate}.sql /tmp/icinga_${todayDate}.sql /tmp/icingaweb_${todayDate}.sql

# https://icinga.com/docs/icinga-2/latest/doc/02-installation/#backup
sudo -u postgres pg_dump director > /tmp/director_${todayDate}.sql
sudo -u postgres pg_dump icinga > /tmp/icinga_${todayDate}.sql
sudo -u postgres pg_dump icingaweb > /tmp/icingaweb_${todayDate}.sql

tar -acvf "${backupArchive}" \
	/etc/icinga2 \
	/etc/icingaweb2 \
	/var/lib/icinga2 \
	/tmp/director_${todayDate}.sql \
	/tmp/icinga_${todayDate}.sql \
	/tmp/icingaweb_${todayDate}.sql

# Upload to my Nextcloud instance
cloudsend --file "${backupArchive}"

# Cleanup
rm "${backupArchive}" \
	/tmp/director_${todayDate}.sql \
	/tmp/icinga_${todayDate}.sql \
	/tmp/icingaweb_${todayDate}.sql

# {{ ansible_managed }}
