#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

rm -f /root/freshrss.sqlite # Cleanup in case previous run failed
# https://freshrss.github.io/FreshRSS/en/admins/05_Backup.html
/usr/share/webapps/freshrss/cli/export-sqlite-for-user.php --user admin --filename /root/freshrss.sqlite

tar -acvf "${backupArchive}" \
	/root/freshrss.sqlite

# Upload to my Nextcloud instance
cloudsend --file "${backupArchive}"

# Cleanup
rm -f "${backupArchive}" \
	/root/freshrss.sqlite

# {{ ansible_managed }}
