# {{ ansible_managed }}

worker_processes 1;
error_log /var/log/nginx/error.log;
events {
	worker_connections 1024;
}
http {
	include mime.types;
	default_type application/octet-stream;
	sendfile on;
	keepalive_timeout 65;

	server {
		listen 80;
		listen [::]:80;
		server_name rss.rys.rs;
		root /usr/share/webapps/freshrss/p;
		index index.php index.html index.htm;

		location ~ ^.+?\.php(/.*)?$ {
			fastcgi_pass unix:/run/php-fpm/php-fpm.sock;
			fastcgi_split_path_info ^(.+\.php)(/.*)$;
			# By default, the variable PATH_INFO is not set under PHP-FPM
			# But FreshRSS API greader.php need it. If you have a “Bad Request” error, double check this var!
			fastcgi_param PATH_INFO $fastcgi_path_info;
			include fastcgi_params;
			fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		}
		location / {
			try_files $uri $uri/ index.php;
		}
	}
}

# {{ ansible_managed }}
