#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

mariadb-dump --defaults-file=/root/.my.cnf --disable-ssl-verify-server-cert nextcloud > /root/nextcloud_db_${todayDate}.sql

tar -acvf ${backupArchive} \
	/root/nextcloud_db_${todayDate}.sql \
	/etc/webapps/nextcloud/config/config.php

# Upload to my Nextcloud instance
cloudsend --file ${backupArchive}

# Cleanup
rm -f ${backupArchive} \
	/root/nextcloud_db_${todayDate}.sql \

# {{ ansible_managed }}
