# {{ ansible_managed }}

# Default to only allowing SSH keypairs
PasswordAuthentication {{ sshd_password_auth | default('no') }}

# Also use authorized_keys2 to load pubkeys from
AuthorizedKeysFile .ssh/authorized_keys .ssh/authorized_keys2

{% if sshd_ports is defined %}
{% for sshd_port in sshd_ports %}
Port {{ sshd_port }}
{% endfor %}
{% endif %}
{% if sshd_listen_addresses is defined %}
{% for sshd_listen_address in sshd_listen_addresses %}
ListenAddress {{ sshd_listen_address }}
{% endfor %}
{% endif %}
{% if sshd_gateway_ports is defined %}
GatewayPorts {{ sshd_gateway_ports }}
{% endif %}
{% if sshd_hostkey_algs is defined %}
HostKeyAlgorithms {{ sshd_hostkey_algs }}
{% endif %}
{% if sshd_pubkey_accepted_algs is defined %}
PubkeyAcceptedAlgorithms {{ sshd_pubkey_accepted_algs }}
{% endif %}
{% if sshd_kex_algs is defined %}
KexAlgorithms {{ sshd_kex_algs }}
{% endif %}
{% if sshd_ciphers is defined %}
Ciphers {{ sshd_ciphers }}
{% endif %}

# {{ ansible_managed }}
