[Interface]
Address = 10.200.200.1/24
SaveConfig = false
PostUp =   iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o ens2 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o ens2 -j MASQUERADE
ListenPort = 51820
PrivateKey = {{ wireguard_private_key }}

[Peer]
PublicKey = C0Rn/j3lrcGrqEqvvaa/ikVnOUZIKLdl+SVVMx4ncAQ=
AllowedIPs = 10.200.200.2/32
