#!/usr/bin/env bash
# {{ ansible_managed }}
set -euo pipefail

todayDate=$(date --iso-8601)
backupArchive="/root/$(hostname)-${todayDate}.tzst"

tar -acvf "${backupArchive}" \
/home/vmail

# Upload to my Nextcloud instance
cloudsend --file "${backupArchive}"

# Cleanup
rm "${backupArchive}"

# {{ ansible_managed }}
