# {{ ansible_managed }}

{% if ansible_architecture == "aarch64" %}
# Use default HOOKS on aarch64 sans microcode, which does not support aarch64
HOOKS=(base udev autodetect modconf kms keyboard keymap consolefont block filesystems fsck)
#HOOKS=(base systemd autodetect keyboard sd-vconsole numlock modconf block sd-encrypt filesystems fsck systemd-tool)

# ALARM hardcodes gzip instead of default zstd because it has support for pre 5.10 kernels
# https://github.com/archlinuxarm/PKGBUILDs/commit/c638c50b548ee505f794d5663c42cbd3514cd50c
# https://github.com/archlinuxarm/PKGBUILDs/blob/master/core/mkinitcpio/0001-use-gzip-for-compression-by-default.patch
COMPRESSION="zstd"
{% elif inventory_hostname == "legion.rys.rs" %}
# Generate initramfs with systemd instead, add "numlock" on on-boot
# Do not add systemd-tool for SSH in initramfs as it is broken
# Workaround is rmmod and modprobe iwlwifi when it happens otherwise
#   TODO: https://github.com/random-archer/mkinitcpio-systemd-tool/issues/27 + https://github.com/random-archer/mkinitcpio-systemd-tool/issues/86
HOOKS=(base systemd autodetect microcode keyboard sd-vconsole numlock modconf block sd-encrypt lvm2 filesystems fsck)
{% else %}
# Generate initramfs with systemd instead, add "numlock" on on-boot and also add systemd-tool for SSH in initramfs
HOOKS=(base systemd autodetect microcode keyboard sd-vconsole numlock modconf block sd-encrypt lvm2 filesystems fsck systemd-tool)
{% endif %}

# {{ ansible_managed }}
