/**
 * The ApiUser objects are used for authentication against the API.
 */
object ApiUser "{{ icinga_api_username }}" {
  password = "{{ icinga_api_password }}"
  // client_cn = ""

  permissions = [ "*" ]
}
