// {{ ansible_managed }}

/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ icinga_db_username }}",
  password = "{{ icinga_db_password }}",
  host = "localhost",
  database = "{{ icinga_db_name }}"
}
