// {{ ansible_managed }}

/**
 * The IdoPgsqlConnection type implements PostgreSQL support
 * for DB IDO.
 */

object IdoPgsqlConnection "ido-pgsql" {
  user = "{{ icinga_db_username }}"
  password = "{{ icinga_db_password }}"
  host = "localhost"
  database = "{{ icinga_db_name }}"
}
