; {{ ansible_managed }}

[{{ icinga_resource_name }}]
type                = "db"
db                  = "{{ icinga_db }}"
host                = "localhost"
port                = "{{ icinga_db_port }}"
dbname              = "{{ icinga_db_name }}"
username            = "{{ icinga_db_username }}"
password            = "{{ icinga_db_password }}"

[{{ icingaweb_resource_name }}]
type                = "db"
db                  = "{{ icingaweb_db }}"
host                = "localhost"
port                = "{{ icingaweb_db_port }}"
dbname              = "{{ icingaweb_db_name }}"
username            = "{{ icingaweb_db_username }}"
password            = "{{ icingaweb_db_password }}"

[{{ director_resource_name }}]
type                = "db"
db                  = "{{ director_db }}"
host                = "localhost"
port                = "{{ director_db_port }}"
dbname              = "{{ director_db_name }}"
username            = "{{ director_db_username }}"
password            = "{{ director_db_password }}"
charset             = "utf8"
